<ul>
    <div class="container">
        
        <div class="row">
<% for (let animes in anime.data) {%>
    

   
<div class="card" style="width: 18rem;">
    <a hx-post=<%="/about/"+animes%> hx-target="body">
        <img 
        src=<%= anime.data[animes].images.webp.large_image_url%> class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= anime.data[animes].title%></h5>
      
    </div>
</a>
 
    </div>
<%}%>
        </div>
    </div>
</ul>



